html, body {
    display: flex
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
.image-container-fluid {
    width: 100%;
    height: 90vh; 
    padding: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}