.sidebar {
    width: 250px;
    background-color: #4bd4c8;
    color: white;
    height: 100vh;
    position: fixed;
}
.sidebar.collapsed {
    width: 70px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item{ 
    .align-items-center}